html {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Varela Round", sans-serif; }

body {
  overflow: hidden; }

nav {
  padding: 0.5em;
  background: #ffcf00;
  color: white;
  font-size: 2em;
  width: 100%;
  font-weight: bold; }

button {
  font-family: "Varela Round", sans-serif;
  font-size: 2em; }

.modal {
  position: absolute;
  padding: 2em;
  width: 50vw;
  height: 50vh;
  top: 25vh;
  left: 25vw;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.75);
  z-index: 999; }

.modal h1 {
  text-align: center;
  font-size: 2em;
  color: #ffcf00; }

.row {
  margin-top: 5em;
  display: flex; }

.load, .new {
  flex-grow: 1;
  margin: 5px; }

.load p, .new p {
  width: 100%;
  height: 100%;
  font-size: 2em;
  text-align: center; }

#editor {
  width: 100%;
  height: 100%;
  display: block; }

#props-sidebar {
  padding-top: 30px;
  width: 20%;
  height: 100%;
  position: absolute;
  right: -20%;
  top: 0;
  z-index: 995;
  background: #ffcf00;
  text-align: center;
  border-left: 3px solid #ffcf00; }

#props-sidebar h2 {
  color: white;
  flex-grow: 1;
  font-size: 2em; }

#load-label {
  font-family: "Varela Round", sans-serif;
  font-size: 2em;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  background-color: #ffcf00;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999; }

input[type="file"] {
  display: none; }

.toolbar {
  display: flex;
  flex-direction: column;
  height: 95%; }

#props-sidebar button {
  flex-grow: 6;
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
  border: 3px solid #ffcf00;
  border-radius: 10px;
  background: white; }

#validation-sidebar {
  padding-top: 30px;
  width: 20%;
  height: 100%;
  display: block;
  position: absolute;
  right: -20%;
  top: 0;
  z-index: 995;
  background: #ffcf00;
  text-align: center;
  border-left: 3px solid #ffcf00; }

#validation-sidebar h2 {
  color: white;
  font-size: 2em; }

#validation-sidebar button {
  width: 95%;
  flex-grow: 6;
  margin: 0 auto;
  margin-top: 15px;
  height: 70px;
  border: 3px solid #ffcf00;
  border-radius: 10px;
  background: white; }

#show-extras-sidebar {
  top: 50%; }

#show-props-sidebar {
  top: 38%; }

#show-validation-sidebar {
  top: 62%; }

#show-extras-sidebar, #show-props-sidebar, #show-validation-sidebar {
  position: fixed;
  padding-left: 1em;
  right: 0;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border: none;
  height: 10%;
  width: auto;
  background: #ffcf00;
  border-left: 3px solid #ffcf00;
  border-bottom: 3px solid #ffcf00;
  border-top: 3px solid #ffcf00;
  border-right: 3px solid white; }

#show-extras-sidebar:hover, #show-props-sidebar:hover, #show-validation-sidebar:hover {
  background: #ffcf00;
  color: white; }

#extras-sidebar {
  border-left: 3px solid #ffcf00;
  padding-top: 30px;
  width: 20%;
  height: 100%;
  display: block;
  position: absolute;
  right: -20%;
  top: 0;
  z-index: 995;
  background: #ffcf00;
  text-align: center; }

#extras-sidebar h2 {
  color: white;
  font-size: 2em; }

#extras-sidebar button {
  width: 95%;
  flex-grow: 6;
  margin: 0 auto;
  margin-top: 15px;
  height: 70px;
  border: 3px solid #ffcf00;
  border-radius: 10px;
  background: white; }

/*# sourceMappingURL=style.css.map */
